# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next/
out/

# misc
.DS_Store
*.log
.idea/
.vscode/

# env
.env
.env.local
.env*.local

# typescript
next-env.d.ts
*.tsbuildinfo
